{{ define "main" }}
<div class="list-page">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <div class="list-items">
      {{ range .RegularPages }}
      <article class="list-item">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="list-meta">
          <span>{{ .Date.Format "Jan 2, 2006" }}</span>
          <span class="middot">&middot;</span>
          <span>{{ .ReadingTime }} min read</span>
        </div>
        <p>{{ .Summary | plainify | truncate 300 }}</p>
      </article>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
